<main>
  <h1><%= @recipe.name %></h1>
  <section class="flex">
    <div class="flex-column">
      <p>Preparation time: <%= @recipe.preparation_time %> minutes </p>
      <p>Cooking time: <%= @recipe.cooking_time %> minutes </p>
      <p>Steps go here...</p>
      <button>Generate shopping list</button>
    </div>
    <div class="flex-column">
      <input type="checkbox">
      <button>Add ingredient</button>
    </div>
  </section>
  <div class="ingredients">
    <table>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
      <% @recipe.foods_recipes.each do |food_recipe| %>
        <tr>
          <td><%= food_recipe.food.name %></td>
          <td><%= "#{food_recipe.quantity} #{food_recipe.food.measurement_unit}" %></td>
          <td>$<%= food_recipe.food.price %></td>
          <td>
            <%= link_to 'Modify', edit_foods_recipe_url(food_recipe) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</main>