<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= link_to "Foods", foods_url %>
      <%= link_to "Recipes", recipes_url %>
      <%= link_to "Shopping List", shopping_list_url %>
      <%= link_to "Public Recipes", public_recipes_url %>
    </header>

    <div>
      <% flash.each do |name, msg| -%>
        <%= content_tag :span, msg, class: name %>
      <% end -%>
    </div>
    <%= yield %>
  </body>
</html>
